<div class="topBar">
  <div><div class="sideBar_toggle"></div></div>
  <div style="flex-grow: 100;"><div class="logoBlack"></div></div>
</div>

<div class="sideBar_container">
  
  <div class="sideBar">
    <div class="optionsGroup">
      <div class="optionsToggle" toggle="subOption_administrador">Administrador</div>
      <div class="subOptions" id="subOption_administrador">
        <div><a href="/forms/usuario">Cadastrar usuário</a></div>
        <div><a href="/forms/cliente">Cadastrar cliente</a></div>
        <div><a href="/forms/entidadeExterna">Cadastrar entidade</a></div>
        <div><a href="/forms/usuarioExterno">Cadastrar usuário externo</a></div>
        <div><a href="/forms/materiaPrima">Cadastrar matéria-prima</a></div>
      </div>
      <div class="optionsToggle" toggle="subOption_estoque">Estoque</div>
      <div class="subOptions" id="subOption_estoque">
        <div><a href="/forms/loteMateriaPrima">Cadastrar lote de matéria-prima</a></div>
        <div><a href="/forms/loteFilamento" style="color: orange;">Cadastrar lote de filamento</a></div>
        <div><a href="/forms/loteElastico" style="color: red;">Cadastrar lote rolo de elástico</a></div>
        <div><a href="/forms/lotePETG" style="color: red;">Cadastrar lote de PETG</a></div>
      </div>
      <div class="optionsToggle" toggle="subOption_producao">Produção</div>
      <div class="subOptions" id="subOption_producao">
        <div><a href="/forms/lote">Cadastrar lote de produção</a></div>
        <div><a href="/forms/subloteImpressao">Cadastrar suportes no lote de produção</a></div>
        <div><a href="/forms/subloteElastico">Cadastrar elástico no lote de produção</a></div>
        <div><a href="/forms/subloteVisores">Cadastrar visores no lote de produção</a></div>
        <div><a href="/forms/loteEmbalagemPrimaria">Cadastrar lote com embalagem primária</a></div>
        <div><a href="/forms/??" style="color: red;">Cadastrar processamento de PETG</a></div>
        <div><a href="/forms/??" style="color: red;">Finalizar processamento de PETG</a></div>
        <div><a href="/forms/pacoteFinal" style="color: red;">Cadastrar pacote final</a></div>
        <div><a href="/forms/entregaFinal" style="color: red;">Cadastrar procedimento de entrega do pacote final</a></div>
      </div>
    </div>



  </div>


<!-- <div class="d-flex" id="wrapper"> -->

    <!-- Sidebar -->
    <!-- <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">ProducaoViva2020</div>
      <div class="list-group list-group-flush">
        <a class="list-group-item list-group-item-action bg-light" href="/forms/usuario">Cadastrar usuário</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/cliente">Cadastrar cliente</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/entidadeExterna">Cadastrar entidade externa</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/usuarioExterno">Cadastrar usuário externo</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/materiaPrima">Cadastrar matéria-prima</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/loteMateriaPrima" style="color: orange;">Cadastrar lote de matéria-prima</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/loteFilamento" style="color: orange;">Cadastrar lote de filamento</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/loteElastico" style="color: red;">Cadastrar lote rolo de elástico</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/lotePETG" style="color: red;">Cadastrar lote de PETG</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/lote">Cadastrar lote de produção</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/subloteImpressao">Cadastrar suportes no lote de produção</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/subloteElastico">Cadastrar elástico no lote de produção</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/subloteVisores">Cadastrar visores no lote de produção</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/loteEmbalagemPrimaria">Cadastrar lote com embalagem primária</a>


        <a class="list-group-item list-group-item-action bg-light" href="/forms/??" style="color: red;">Cadastrar processamento de PETG</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/??" style="color: red;">Finalizar processamento de PETG</a> -->
        <!-- <a class="list-group-item list-group-item-action bg-light" href="/forms/loteImpressao">Cadastrar lote de impressão</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/loteRaspagem">Cadastrar lote de raspagem</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/falhasRaspagem">Cadastrar falhas na raspagem</a> -->
        <!-- <a class="list-group-item list-group-item-action bg-light" href="/forms/loteCorteVisor">Cadastrar/atualizar lote de visores</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/loteCorteElastico">Cadastrar lote de elástico</a> -->
        <!-- <a class="list-group-item list-group-item-action bg-light" href="/forms/loteMontagem">Cadastrar lote de montagem</a> -->
        <!-- <a class="list-group-item list-group-item-action bg-light" href="/forms/pacoteFinal" style="color: red;">Cadastrar pacote final</a>
        <a class="list-group-item list-group-item-action bg-light" href="/forms/entregaFinal" style="color: red;">Cadastrar procedimento de entrega do pacote final</a>
        
      </div>
    </div> -->
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <!-- <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
        </div>
      </nav> -->

<div class="container" style="max-width: 800px; margin-top: 50px;">
