<ul>
    <li><a href="/forms/usuario">Cadastrar usuário</a></li>
    <li><a href="/forms/cliente">Cadastrar cliente</a></li>
    <li><a href="/forms/entidadeExterna">Cadastrar entidade externa</a></li>
    <li><a href="/forms/materiaPrima">Cadastrar matéria prima</a></li>
    <li><a href="/forms/loteMateriaPrima">Cadastrar lote de matéria prima</a></li>
    <li><a href="/forms/loteImpressao">Cadastrar lote de impressão</a></li>
    <li><a href="/forms/loteRaspagem">Cadastrar lote de raspagem</a></li>
    <li><a href="/forms/falhasRaspagem">Cadastrar falhas na raspagem</a></li>
    <li><a href="/forms/loteCorteVisor">Cadastrar/atualizar lote de visores</a></li>
    <li><a href="/forms/loteCorteElastico">Cadastrar lote de elástico</a></li>
    <li><a href="/forms/loteMontagem">Cadastrar lote de montagem</a></li>
    <li><a href="/forms/loteEmbalagemPrimaria">Cadastrar lote com embalagem primária</a></li>
    <li><a href="/forms/pacoteFinal">Cadastrar pacote final</a></li>
    <li><a href="/forms/entregaFinal">Cadastrar procedimento de entrega do pacote final</a></li>
</ul>