<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/sidebar_top %>
    <h3>Para navegar pelo sistema, ultilize a barra lateral</h3>
    <br>
    <h2><--</h2>
    <% include partials/sidebar_bottom %>
  </body>
  <% include partials/bottom %>
</html>