body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input.pretendText {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

.pretendTextParent {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.18);
  transform: scale(1);
  transition: all .2s ease-in-out;
}

.pretendTextParent:hover {
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.10);
  z-index: 10;
}

.pretendTextParent:focus-within {
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.18);
  z-index: 20;
  transform: scale(1.1);
  position: relative;
  background-color: #fff;
}

@media (max-width: 500px) {
  .notImportant {
    display: none;
  }
}