body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input.pretendText {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

select.pretendText {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  scrollbar-width: none;
}

textarea.pretendText {
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  width: 100%;
  resize: none;
  height: 20px;
}

textarea.pretendText:focus {
  height: auto;
}

.pretendTextParent {
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.18);
  transform: scale(1);
  transition: all .2s ease-in-out;
}

.pretendTextParentFloat {
  position: absolute !important;
}

.pretendTextParentNotSaved {
  background: #eee !important;
}

.pretendTextParentFailed {
  background: #ff6b6b !important;
}

.pretendTextParent:hover {
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.10);
  z-index: 10;
}

.pretendTextParent:focus-within {
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.18);
  z-index: 20;
  transform: scale(1.1);
  position: relative;
  background-color: #fff;
}

@media (max-width: 500px) {
  .notImportant {
    display: none;
  }
}


.topBar {
  width: 100%;
  padding: 5px;
  text-align: right;
  display: flex;
  align-items: center;
  background: #313131;
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.2);
}

.logoBlack {
  width: 217px;
  height: 40px;
  background-color: #fff;
  mask-image: URL('/images/assinatura_horizontal_PRETO.png');
  mask-size: auto 100%;
  display: inline-block;
  margin-right: 10px;
}

.sideBar_container {
  display: flex;
}

.sideBar {
  width: 300px;
  transition: all .2s ease-in-out;
  background-color: #fbfbfb;
  color: #000;
  display: inline-block;
  padding-top: 10px;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.15);
  margin: 20px;
  border-radius: 10px;
  height: max-content;
}

.sideBar a{
  color: #000;
}

.sideBar a:hover{
  color: #000;
  text-decoration: underline;
}

.sideBar_hidden {
  margin-left: -300px;
}

@media (max-width: 800px) {
  .sideBar {
    width: 100%;
    overflow-y: auto;
    z-index: 10000;
    margin: 0px;
    border-radius: 0px;
    height: 100%;
    position: absolute;
  }

  .sideBar_hidden {
    margin-left: -100%;
  }

  .topBar {
    z-index: 10001;
  }
}

.sideBar_toggle {
  mask-image: URL('/images/bars.png');
  mask-size: 20px 20px;
  background: #fff;
  width: 30px;
  height: 50px;
  margin-left: 10px;
  cursor: pointer;
  mask-repeat: no-repeat;
  mask-position: center;
}

html,body {height: 100%;}

.optionsGroup {
}

.subOptions {
  height: 0px;
  overflow-y: hidden;
  margin-left: 15px;
}

.subOptions div {
  padding: 5px;
}

.subOptionsTransition {
  transition: all .2s ease-in-out;
}

.optionsToggle {
  padding-left: 10px;
  cursor: pointer;
  font-size: 20px;
}

.optionsToggle:hover {
  background-color: #fff8ba;
  color: #000;
}

.optionsToggled {
  background-color: #fdf184;
  color: #000;
}

.selectedOption {
  font-weight: bold;
}