<!DOCTYPE html>
<html>
  <head>
    <title>Formulário</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/sidebar_top %>
      <h3>Cadastrar clientes da <i>Faceshield</i></h3>
      <form method="POST">
        <div class="input-group mb-3">
          <div class="input-group-prepend"><span class="input-group-text">Nome</span></div>
          <input class="form-control" type="text" name="nome" required></input>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend"><span class="input-group-text">Demanda</span></div>
          <input class="form-control" type="number" name="demanda" required></input>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend"><span class="input-group-text">Contato</span></div>
          <input class="form-control" type="text" name="contato"></input>
        </div>
        <button class="btn btn-success" type="submit">Cadastrar</button>
      </form>
      <br/>
      <h3>Clientes cadastrados</h3>
      <div class="table-responsive-md">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Demanda</th>
              <th>Contato</th>
            </tr>
          </thead>
          <tbody>
            <% clientes.forEach(u => { %>
            <tr>
              <td><%= u.id %></td>
              <td><%= u.nome %></td>
              <td><%= u.demanda %></td>
              <td><%= u.contato %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    <% include ../partials/sidebar_bottom %>
  </body>
  <% include ../partials/bottom %>
</html>