<!DOCTYPE html>
<html>
  <head>
    <title>Formulário</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/sidebar_top %>
      <h3>Cadastrar entidades externas</h3>
      Uma entidade externa é qualquer entidade que recebe do LAB ou entrega para o LAB matéria-prima.
      <form method="POST">
        <div class="input-group mb-3">
          <div class="input-group-prepend"><span class="input-group-text">Nome:</span></div>
          <input class="form-control" type="text" name="nome" required></input>
        </div>
        <button class="btn btn-success" type="submit">Cadastrar</button>
      </form>
      <h3>Entidades externas cadastrados</h3>
      <div class="table-responsive-md">
        <table class="table">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
            </tr>
          </thead>
          <tbody>
            <% entidades.forEach(u => { %>
            <tr>
              <td><%= u.id %></td>
              <td><%= u.nome %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    <% include ../partials/sidebar_bottom %>
  </body>
  <% include ../partials/bottom %>
</html>