<!DOCTYPE html>
<html>
  <head>
    <title>Formulário</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/sidebar %>
    <h3>Implemente o formulário a partir daqui</h3>
  </body>
  <% include ../partials/bottom %>
</html>