<!DOCTYPE html>
<html>
  <head>
    <title>Formulário</title>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/sidebar_top %>



        <h3>Formilário de Aqui</h3>


  <% include ../partials/sidebar_bottom %>
  </body>
  <% include ../partials/bottom %>
</html>